/* Header */
.main-header {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 15px 20px;
    }
    
    .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    
    /* Logo */
    .logo {
    text-align: center;
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center;   
    }
    
    .logo p {
    font-size: 18px;
    font-weight: normal;
    padding-top:10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    }
    
    /* Navigation */
    .navigation {
    display: flex;
    gap: 15px;
    }
    
    .navigation a {
    font-size: 14px;
    color: #333;
    text-transform: uppercase;
    transition: color 0.3s;
    }
    
    .navigation a:hover {
    color: #556b67;
    text-decoration: underline;
    }